@import "/styles/variables.scss";

.slider__wrapper {
  position: relative;

  .btn_next {
    position: absolute;
    top: 5px;
    right: -2px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
  }

  .btn_prev {
    position: absolute;
    top: 5px;
    left: -2px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
  }

  .chip {
    border: 1px solid $primary-border;
    width: fit-content;
    padding: $p-sm;
    border-radius: $border-radius-lg;
    margin: auto;
    font-weight: 400;
    font-size: $text-sm;
  }
}